@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, "Righteous", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.linked .active {
  color: #e473ff;
}

@media (max-width: 640px) {
  .linked .active {
    border-bottom: solid 5px #e473ff;
    background-color: #19191d;
  }
}

@media (min-width: 640px) {
  .linked .active {
    border-left: solid 5px #e473ff;
  }
}

/* underlined animation from ltr */

.link-h {
  @apply relative hover:text-purpc duration-500;
}

.link-h::after {
  @apply content-[''] bg-purpc h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300;
}

.link-h:hover::after {
  @apply w-[100%];
}

/* end anim */

#scroll-vid::-webkit-scrollbar {
  display: none;
}

.custom-tooltip {
  position: relative;
  cursor: pointer;
}

.custom-tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

.custom-tooltip:hover::before {
  opacity: 1;
}
